<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Truck Locations</title>
</head>
<body>
<p style="font-size:30px">Search Result</p>
<div th:if="${ not#lists.isEmpty(locSrhResult)}">
          <table border="1">
            <tr>
              <th>Truck Name</th>
              <th>Food Items</th>
              <th>Address</th>
              <th>Directions</th>
              <th>latitude</th>
              <th>longitude</th>
              
            </tr>
            <tr th:each="locDetails : ${locSrhResult}">
              <td th:text="${locDetails.truckName}"></td>
              <td th:text="${locDetails.foodItems}"></td>
              <td th:text="${locDetails.locationAddress}"></td>
              <td th:text="${locDetails.LocationDescription}"></td>
              <td th:text="${locDetails.latitude}"></td>
              <td th:text="${locDetails.longitude}"></td>
             
            </tr>
          <table>
        </div>
</body>
</html>